@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background-color: #e42e4e;
}

.header__title {
  font-size: 30px;
  font-weight: 700;
  padding: 0 0 10px 0;
}

.content {
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  max-width: 840px;
  margin: 0 auto;
  padding: 30px 20px 20px 20px;
}

.main__questions {
  max-width: 500px;
}

.questions__item {
  padding: 0 0 20px 0;
}

.questions__title {
  font-weight: 700;
  padding: 0 0 10px 0;
}

.questions__answer {
  padding: 0 0 10px 0;
}

.questions__input {
  width: 40%;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.questions__check {
  color: #d9123a;
  background-color: #fff;
  border: 1px solid #d9123a;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 700;
}

.questions__check:hover {
  color: #1B0112;
}

.main__check {
  background-color: #fff;
  border-radius: 5px;
  padding: 6px 10px;
  width: 200px;
  font-size: 16px;
  color: #d9123a;
  font-weight: 700;
}

.questions__input._wrong {
  position: relative;
}

.questions__input._wronganim {
  -webkit-animation: wrong 0.4s linear;
          animation: wrong 0.4s linear;
}

.questions__input._right {
  background-color: #b5ff98;
}

@-webkit-keyframes wrong {
  0% {
    background-color: #ff8989;
    left: 0;
  }
  20% {
    left: 5px;
  }
  40% {
    left: -5px;
  }
  60% {
    background-color: #ff8989;
    left: 3px;
  }
  80% {
    left: -3px;
  }
  100% {
    background-color: white;
    left: 0;
  }
}

@keyframes wrong {
  0% {
    background-color: #ff8989;
    left: 0;
  }
  20% {
    left: 5px;
  }
  40% {
    left: -5px;
  }
  60% {
    background-color: #ff8989;
    left: 3px;
  }
  80% {
    left: -3px;
  }
  100% {
    background-color: white;
    left: 0;
  }
}

.quiz {
  padding: 0 0 30px 0;
}

.radios__item {
  padding: 0 0 30px 0;
}

.radios__item:last-child {
  padding: 0;
}

.radios__question {
  font-weight: 700;
  padding: 0 0 10px 0;
}

.radios__buttons label {
  padding: 0 30px 0 0;
}

.radios__buttons label:last-child {
  padding: 0;
}

.quiz__check {
  background-color: #fff;
  border-radius: 5px;
  padding: 6px 10px;
  width: 200px;
  font-size: 16px;
  color: #d9123a;
  font-weight: 700;
}

.radios__question._right {
  color: #b5ff98;
}

label._wrong {
  position: relative;
  -webkit-animation: wrongLabel 0.4s linear;
          animation: wrongLabel 0.4s linear;
}

@-webkit-keyframes wrongLabel {
  0% {
    color: #ff8989;
    left: 0;
  }
  20% {
    left: 5px;
  }
  40% {
    left: -5px;
  }
  60% {
    color: #ff8989;
    left: 3px;
  }
  80% {
    left: -3px;
  }
  100% {
    color: white;
    left: 0;
  }
}

@keyframes wrongLabel {
  0% {
    color: #ff8989;
    left: 0;
  }
  20% {
    left: 5px;
  }
  40% {
    left: -5px;
  }
  60% {
    color: #ff8989;
    left: 3px;
  }
  80% {
    left: -3px;
  }
  100% {
    color: white;
    left: 0;
  }
}
